<a href="https://colab.research.google.com/github/caroSF1/SyntaxError_Evidencia4/blob/main/Proceso_de_limpieza_de_los_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Proceso de Recolección y limpiezade los datos**

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
precios = pd.read_excel('Detalle precios y productos fabricados 2022.xlsx')
precios.head()

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41

In [3]:
facturacion = pd.read_excel('FACURACION, DEVOLUCIONES, NOTAS DE CREDITO, CLIENTES.xlsx', sheet_name="FACTURACION")
facturacion.head()

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN,RFC
0,F29414,2465,C,1.0,2019-09-03 08:58:42,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0,YOR-030722-UV8
1,F29415,3926,C,1.0,2019-09-03 09:55:14,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0,PPE 490224 HI0
2,F29416,3926,C,1.0,2019-09-03 13:25:33,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0,PPE 490224 HI0
3,F29417,3926,C,1.0,2019-09-03 13:33:23,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0,PPE 490224 HI0
4,F29418,6813,C,2.0,2019-09-03 14:23:45,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0,MPI130528640

In [4]:
devoluciones= pd.read_excel('FACURACION, DEVOLUCIONES, NOTAS DE CREDITO, CLIENTES.xlsx', sheet_name="DEVOLUCIONES")
devoluciones.head()

,TIP_DOC,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,CVE_PEDI,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_FIN,FECHAELAB,RFC,SERIE,FOLIO,DOC_ANT
0,D,D00501,1703,E,1.0,PV00039,2019-09-30,2019-09-06,2019-09-30,NaT,50994.00,0,2019-09-30 18:29:49,INE 911127 JG1,D,501,F29599
1,D,DEV0000000001,1852,E,2.0,F29896,2019-10-09,2019-09-17,2019-10-09,NaT,7125.90,0,2019-10-09 14:58:36,IPM-620322-6B4,DEV,1,F29596
2,D,DEV00002,5149,E,2.0,F29604,2019-10-10,2019-09-23,2019-10-10,NaT,2726.52,0,2019-10-10 13:41:27,LGV-000406-U16,DEV,2,F29604
3,D,DEV00003,3222,E,2.0,F29605,2019-10-10,2019-09-23,2019-10-10,NaT,1363.26,0,2019-10-10 13:49:44,LGQ-020801-KQ3,DEV,3,F29605
4,D,DEV00004,664,E,2.0,F29616,2019-10-10,2019-09-18,2019-10-10,NaT,4232.25,0,2019-10-10 14:12:13,CID-910926-P7A,DEV,4,F29616

In [5]:
notas_credito= pd.read_excel('FACURACION, DEVOLUCIONES, NOTAS DE CREDITO, CLIENTES.xlsx', sheet_name="NOTAS DE CREDITO")
notas_credito.head()

,TIP_DOC,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,CVE_PEDI,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,FECHAELAB,RFC,SERIE,FOLIO
0,E,NC00247,6826,C,2.0,NaN,2019-09-10,2019-09-10,2019-09-10,2019-09-13,603.4480,2019-09-10 11:49:34,DEQJ760331UC0,NC,247
1,E,NC00248,5437,E,2.0,NaN,2019-09-11,2019-09-11,2019-09-11,NaT,431.0344,2019-09-11 08:54:14,OIM 060801 GH5,NC,248
2,E,NC00249,1240,C,2.0,NaN,2019-09-11,2019-09-11,2019-09-11,2019-09-18,4135.0000,2019-09-11 18:23:06,REMA-710901-G64,NC,249
3,E,NC00250,4889,E,3.0,NaN,2019-09-12,2019-09-12,2019-09-12,NaT,258.6200,2019-09-12 14:54:54,MAPA 710520 A10,NC,250
4,E,NC00251,6834,E,2.0,F29452,2019-09-19,2019-09-10,2019-09-19,NaT,919.4560,2019-09-19 10:59:28,NPR111214391,NC,251

In [6]:
clientes= pd.read_excel('FACURACION, DEVOLUCIONES, NOTAS DE CREDITO, CLIENTES.xlsx', sheet_name="CLIENTES")
clientes.head()

        CLAVE            RFC                                           NOMBRE
0           1   AMQ911121AL8  ASOCIACION DE MIPYMES INDUSTRIALES DE QUERETARO
1           2   GCA900118AX6                           GRUPO COMERCIAL ACOMEE
2           3  AAVJ630625FJ4                  ANDRADE VILLANUEVA JUAN GERARDO
3           5   MDI8312134L0                            MANUFACTURAS DIVERSAS
4           6   MME640509AS8                           MANUFACTURAS METALICAS

In [7]:
gastos_20 = pd.read_excel('Gastos y costos 20-23 (abril).xlsx', sheet_name="2020")
gastos_20.head()

,FECHA,FOLIO,UUID,RFC,PROVEEDOR,TIPO GASTO,GASTO,DESCRIPCION,TC,IMPORTE,IVA,RET ISR,RET IVA,TOTAL MX,TOTAL SAT,TIPO,STATUS,POLIZA,Columna1
0,2020-01-01,39408,BD20F436-72CC-4BE2-AD37-5999D71AA391,ARE080115PBA,ARSI RENTA SA DE CV,MAQUINARIA,NaN,"Descripción: REVOLVEDORA, Modelo: ULTRAMP9A, M...",1.0,0.00,2248.28,0.0,0.0,2248.28,16300.00,I,Vigente,NaN,14051.72
1,2020-01-01,0001010100750847116902,85AEAC2E-6395-44A0-9CB9-754D06893375,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,NaN,COMISION COBRADA,1.0,490.00,78.40,0.0,0.0,568.40,568.40,I,Vigente,NaN,0.00
2,2020-01-01,0001010100752163714102,BD0DFE85-D776-41CB-9C5C-4FA7923E687A,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,NaN,COMISION COBRADA,1.0,195.00,31.20,0.0,0.0,226.20,226.20,I,Vigente,NaN,0.00
3,2020-01-01,3663,EF4504D6-830D-415C-AF03-80CF54C5E28E,PSS120625C86,PROMOTORA DE SERVICIOS Y SOLUCIONES EMPRESARIA...,HONORARIOS CONTABLES,NaN,HONORARIOS CONTABLES\nDEL MES DE ENERO DEL 2020.,1.0,10694.25,1711.08,0.0,0.0,12405.33,12405.33,I,Vigente,NaN,0.00
4,2020-01-01,2849,EC2F4AA4-BA64-4E2E-A5B7-4EBBE042D6D3,ENA7006081P0,ELECTROTERMICA NACIONAL SA DE CV,COMPRAS,NaN,Pago,1.0,0.00,NaN,0.0,0.0,0.00,0.00,P,Vigente,NaN,0.00

In [8]:
gastos_21 = pd.read_excel('Gastos y costos 20-23 (abril).xlsx', sheet_name="2021")
gastos_21.head()

,FECHA,FOLIO,UUID,RFC,PROVEEDOR,TIPO GASTO,DESCRIPCION,MP,TC,IMPORTE,IVA,RET ISR,RET IVA,TOTAL MX,TOTAL SAT,TIPO,STATUS,POLIZA
0,2021-01-01,0001010100750847116902,71B4C8B9-8DAA-47CC-AD47-9DD90AA5AF6B,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,COMISION COBRADA,PUE,1.0,490.00,78.40,0.0,0.0,568.4,568.4,I,Vigente,0
1,2021-01-01,0001010100752163714102,B8AEDE83-CC76-404C-A611-6B5A87BA561F,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,COMISION COBRADA,PUE,1.0,345.00,55.20,0.0,0.0,400.2,400.2,I,Vigente,0
2,2021-01-01,19788,19B9B2C2-DF58-E24D-B43A-3FC4D5A929E7,ESI9612311E7,"ELECTRONICOS Y SIMILARES, S.A. DE C.V.",COMPRAS,MOTO E7 PLUS AZUL 64GB 4RAM,PUE,1.0,3447.41,551.59,0.0,0.0,3999.0,3999.0,I,Vigente,0
3,2021-01-01,211781,EAB26414-DD9A-4E8F-9F5C-05FE24D98E48,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006876 6/36 de 03/12/2...,PPD,1.0,5551.38,888.22,0.0,0.0,6439.6,6439.6,I,Vigente,0
4,2021-01-01,211782,C16F79B5-FB35-4BFC-AF84-708B24F500BB,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006877 6/36 de 03/12/2...,PPD,1.0,5551.98,888.32,0.0,0.0,6440.3,6440.3,I,Vigente,0

In [9]:
gastos_22 = pd.read_excel('Gastos y costos 20-23 (abril).xlsx', sheet_name="2022")
gastos_22.head()

,Fecha,Folio,UUID,RFC,Proveedor,TIPO GASTO,Descripción,MP,TC,Importe,IVA,RET ISR,RET IVA,Otros,TOTAL MX,TOTAL SAT,Tipo,Status,Poliza
0,2022-01-01,280108,9DA0E63F-1D47-441F-93D7-C2E05AE4D35E,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006876 18/36 de 03/12/...,PPD,1.0,5551.38,888.22,0.0,0.0,NaN,6439.6,6439.6,I,Vigente,PE02-ENE22
1,2022-01-01,280109,7E00E776-A839-4D57-B291-411109164B2F,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006877 18/36 de 03/12/...,PPD,1.0,5551.98,888.32,0.0,0.0,NaN,6440.3,6440.3,I,Vigente,PE03-ENE22
2,2022-01-01,007817297284,BB6585C1-3B54-4130-AFD0-1867C3764821,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,Servicios de Facturación,PUE,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,I,Vigente,NaN
3,2022-01-01,5595,B5E4B4EB-6C2F-11EC-BB9D-00155D014009,ZEGC530520V4A,CARLOS ENRIQUE ZERMEÑO GUTIERREZ,COMPRAS,Pago,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,P,Vigente,NaN
4,2022-01-01,5614,BB6756D1-6CCD-11EC-947D-00155D014407,ZEGC530520V4A,CARLOS ENRIQUE ZERMEÑO GUTIERREZ,COMPRAS,Pago,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,P,Vigente,NaN

In [10]:
gastos_23 = pd.read_excel('Gastos y costos 20-23 (abril).xlsx', sheet_name="2023")
gastos_23.head()

,Fecha,Folio,UUID,RFC,Proveedor,TIPO GASTO,Descripción,MP,FP,TC,Importe,IVA,RET ISR,RET IVA,Otros,TOTAL MX,TOTAL SAT,Tipo,Status,Poliza
0,2023-01-01,31,49536321-60A4-523E-A32F-E8BDF5C2276E,AAE6411055P8,AESA ARTICULOS ELECTRICOS,COMPRAS,Pago,NaN,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.00,0.00,P,Vigente,NaN
1,2023-01-01,38,20FBB63B-D550-512F-9668-EEC6F983CEB7,AAE6411055P8,AESA ARTICULOS ELECTRICOS,COMPRAS,Pago,NaN,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.00,0.00,P,Vigente,NaN
2,2023-01-01,341932,DB8C4388-D4E0-4F0C-A09C-77C773257F44,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006876 30/36 de 03/12/...,PPD,99.0,1.0,5551.38,888.22,0.0,0.0,NaN,6439.60,6439.60,I,Vigente,PE01-ENE23
3,2023-01-01,341933,A81A63F5-D5EC-4601-803E-375AF9CC5021,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006877 30/36 de 03/12/...,PPD,99.0,1.0,5551.98,888.32,0.0,0.0,NaN,6440.30,6440.30,I,Vigente,PE02-ENE23
4,2023-01-01,342205,DCC10492-DE51-4C87-8430-5676FBF81931,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000009486 5/48 de 03/12/2...,PPD,99.0,1.0,8454.37,1352.70,0.0,0.0,NaN,9807.07,9807.07,I,Vigente,PE03-ENE23

In [11]:
saldos = pd.read_excel('saldos.xlsx')
saldos.head()

,Unnamed: 0,CVE_CLPV,NOMBRE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO
0,0,6401,DONGA HWASUNG MEXICO,F40238,2023-02-24,2023-03-26,97485.94
1,1,6401,DONGA HWASUNG MEXICO,F40353,2023-03-14,2023-04-13,97485.94
2,2,4598,PROVEEDORA DE SEGURIDAD INDUSTRIAL DEL GOLFO,F40352,2023-03-14,2023-04-13,64916.21
3,3,3930,INDUSTRIAS LANCERMEX,F40217,2023-02-23,2023-03-25,52715.74
4,4,4712,HELVEX,F40173,2023-02-17,2023-04-03,50639.80

In [13]:
facturacion= facturacion.rename(columns = {'FECHAELAB':'FECHA_ELAB', 'FECHA_ENT':'FECHA_ENTREGA', 'CAN_TOT':'CANTD_TOT'})
print('Facturación')
print(facturacion.columns)
print()
print('Notas de crédito')
notas_credito = notas_credito.rename(columns= {'FECHAELAB':'FECHA_ELAB', 'FECHA_ENT':'FECHA_ENTREGA', 'CAN_TOT':'CANTD_TOT'})
print(notas_credito.columns)
print()
print('Devoluciones')
devoluciones = devoluciones.rename(columns= {'FECHAELAB':'FECHA_ELAB', 'FECHA_ENT':'FECHA_ENTREGA', 'CAN_TOT':'CANTD_TOT'})
print(devoluciones.columns)
print()
print('Gastos y Costos')
gastos_22 = gastos_22.rename(columns= {'Fecha':'FECHA', 'Folio':'FOLIO','Proveedor':'PROOVEDOR', 'Descripción':'DESCRIPCION','Status':'STATUS', 'Tipo':'TIPO', 'Poliza':'POLIZA'})
print('2022: ', gastos_22.columns)
gastos_23 = gastos_23.rename(columns= {'Fecha':'FECHA','Folio':'FOLIO', 'Proveedor':'PROOVEDOR', 'Descripción':'DESCRIPCION','Status':'STATUS', 'Tipo':'TIPO', 'Poliza':'POLIZA'})
print('2023: ', gastos_23.columns)
print()
print('Antigüedad de Saldos')
saldos = saldos.rename(columns= {'No. CLIENTE':'CVE_CLPV'})
print(saldos.columns)

Facturación
Index(['CVE_DOC', 'CVE_CLPV', 'STATUS', 'CVE_VEND', 'FECHA_ELAB', 'FECHA_DOC',
       'FECHA_ENTREGA', 'FECHA_VEN', 'FECHA_CANCELA', 'CANTD_TOT', 'DES_TOT',
       'DES_FIN', 'RFC'],
      dtype='object')

Notas de crédito
Index(['TIP_DOC', 'CVE_DOC', 'CVE_CLPV', 'STATUS', 'CVE_VEND', 'CVE_PEDI',
       'FECHA_DOC', 'FECHA_ENTREGA', 'FECHA_VEN', 'FECHA_CANCELA', 'CANTD_TOT',
       'FECHA_ELAB', 'RFC', 'SERIE', 'FOLIO'],
      dtype='object')

Devoluciones
Index(['TIP_DOC', 'CVE_DOC', 'CVE_CLPV', 'STATUS', 'CVE_VEND', 'CVE_PEDI',
       'FECHA_DOC', 'FECHA_ENTREGA', 'FECHA_VEN', 'FECHA_CANCELA', 'CANTD_TOT',
       'DES_FIN', 'FECHA_ELAB', 'RFC', 'SERIE', 'FOLIO', 'DOC_ANT'],
      dtype='object')

Gastos y Costos
2022:  Index(['FECHA', 'FOLIO', 'UUID', 'RFC', 'PROOVEDOR', 'TIPO GASTO',
       'DESCRIPCION', 'MP', 'TC', 'Importe', 'IVA', 'RET ISR', 'RET IVA',
       'Otros', 'TOTAL MX', 'TOTAL SAT', 'TIPO', 'STATUS', 'POLIZA'],
      dtype='object')
2023:  Index(['FECHA', 'FOLIO', 'UUID', 'RFC', 'PROOVEDOR', 'TIPO GASTO',
       'DESCRIPCION', 'MP', 'FP', 'TC', 'Importe', 'IVA', 'RET ISR', 'RET IVA',
       'Otros', 'TOTAL MX', 'TOTAL SAT', 'TIPO', 'STATUS', 'POLIZA'],
      dtype='object')

Antigüedad de Saldos
Index(['Unnamed: 0', 'CVE_CLPV', 'NOMBRE', 'FACTURA', 'FECHA_FACTURA',
       'FECHA_VENCIMIENTO', 'MONTO ADEUDADO'],
      dtype='object')

In [14]:
gastos_20 = gastos_20.drop(['UUID','TIPO','POLIZA','Columna1'], axis=1)
gastos_21 = gastos_21.drop(['UUID','TIPO','POLIZA'], axis=1)
gastos_22 = gastos_22.drop(['UUID','TIPO','POLIZA','Otros'], axis=1)
gastos_23 = gastos_23.drop(['UUID','TIPO','POLIZA','Otros'], axis=1)

In [15]:
precios = precios.drop(['NOMBRE_VENDEDOR','DESCR','COSTO_UNITARIO','MARGEN_UNITARIO_CALCULADO'],axis=1)

In [16]:
devoluciones = devoluciones.drop(['TIP_DOC','CVE_VEND','FECHA_ENTREGA','DES_FIN','FECHA_ELAB','SERIE'],axis=1)

In [17]:
notas_credito = notas_credito.drop(['TIP_DOC','CVE_VEND','FECHA_ENTREGA','FECHA_ELAB','SERIE'],axis=1)

In [18]:
facturacion = facturacion.drop(['CVE_VEND','FECHA_ENTREGA','FECHA_ELAB','DES_FIN'],axis=1)

In [19]:
facturacion=facturacion.fillna({'FECHA_CANCELA':'--'})
facturacion['FECHA_CANCELA'].isnull().sum()

0

In [20]:
devoluciones=devoluciones.fillna({'DOC_ANT':'--', 'CVE_PEDI':'--', 'FECHA_CANCELA':'--'})
devoluciones[['FECHA_CANCELA', 'DOC_ANT', 'CVE_PEDI']].isnull().sum()

FECHA_CANCELA    0
DOC_ANT          0
CVE_PEDI         0
dtype: int64

In [21]:
clientes=clientes.fillna({'RFC':'--','NOMBRE':'--'})
clientes[['RFC','NOMBRE']].isnull().sum()

RFC       0
NOMBRE    0
dtype: int64

In [22]:
notas_credito=notas_credito.fillna({'CVE_PEDI':'--','FECHA_CANCELA':'--'})
notas_credito[['CVE_PEDI','FECHA_CANCELA']].isnull().sum()

CVE_PEDI         0
FECHA_CANCELA    0
dtype: int64

In [23]:
gastos_20=gastos_20.fillna({'FOLIO':'--','GASTO':0, 'TC':'--', 'IMPORTE':0, 'IVA':0 })
gastos_20[['FOLIO','GASTO','TC','IMPORTE','IVA']].isnull().sum()

FOLIO      0
GASTO      0
TC         0
IMPORTE    0
IVA        0
dtype: int64

In [24]:
gastos_21=gastos_21.fillna({'FOLIO':'--','MP':'--'})
gastos_21[['FOLIO','MP']].isnull().sum()

FOLIO    0
MP       0
dtype: int64

In [25]:
gastos_22=gastos_22.fillna({'FOLIO':'--','MP':'--', 'TC':'--'})
gastos_22[['FOLIO','MP','TC']].isnull().sum()

FOLIO    0
MP       0
TC       0
dtype: int64

In [26]:
gastos_23=gastos_23.fillna({'FOLIO':'--', 'TIPO GASTO':'OTROS','MP':'--', 'FP':0})
gastos_23[['FOLIO','TIPO GASTO','MP','FP']].isnull().sum()

FOLIO         0
TIPO GASTO    0
MP            0
FP            0
dtype: int64

In [27]:
devoluciones.duplicated()
Duplicadasd=devoluciones.duplicated()
Duplicadasd
print("\nNúmero de filas duplicadas:\n")
Duplicadasd[Duplicadasd==True].count()

Número de filas duplicadas:

0

In [28]:
facturacion.duplicated()
Duplicadasf=facturacion.duplicated()
Duplicadasf
print("\nNúmero de filas duplicadas:\n")
Duplicadasf[Duplicadasf==True].count()

Número de filas duplicadas:

0

In [29]:
notas_credito.duplicated()
Duplicadasn=notas_credito.duplicated()
Duplicadasn
print("\nNúmero de filas duplicadas:\n")
Duplicadasn[Duplicadasn==True].count()

Número de filas duplicadas:

0

In [30]:
precios.duplicated()
Duplicadasp=precios.duplicated()
Duplicadasp
print("\nNúmero de filas duplicadas:\n")
Duplicadasp[Duplicadasp==True].count()

Número de filas duplicadas:

0

In [31]:
saldos.duplicated()
Duplicadass=saldos.duplicated()
Duplicadass
print("\nNúmero de filas duplicadas:\n")
Duplicadass[Duplicadass==True].count()

Número de filas duplicadas:

0

In [32]:
gastos_20.duplicated()
Duplicadasg20=gastos_20.duplicated()
gastos_20 = gastos_20.drop_duplicates()
Duplicadasg20=gastos_20.duplicated()

In [33]:
print("\nNúmero de filas duplicadas:\n")
Duplicadasg20[Duplicadasg20==True].count()

Número de filas duplicadas:

0

In [34]:
gastos_21.duplicated()
Duplicadasg21=gastos_21.duplicated()
gastos_21 = gastos_21.drop_duplicates()
Duplicadasg21=gastos_21.duplicated()

In [35]:
print("\nNúmero de filas duplicadas:\n")
Duplicadasg21[Duplicadasg21==True].count()

Número de filas duplicadas:

0

In [36]:
gastos_22.duplicated()
Duplicadasg22=gastos_22.duplicated()
gastos_22 = gastos_22.drop_duplicates()
Duplicadasg22=gastos_22.duplicated()

In [37]:
print("\nNúmero de filas duplicadas:\n")
Duplicadasg22[Duplicadasg22==True].count()

Número de filas duplicadas:

0

In [38]:
gastos_23.duplicated()
Duplicadasg23=gastos_23.duplicated()
gastos_23= gastos_23.drop_duplicates()
Duplicadasg23=gastos_23.duplicated()

In [39]:
import pandas as pd
from pandas import Series, DataFrame
import seaborn as sns
import numpy as np
from datetime import date, time, datetime, timedelta
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args

    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)

    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [40]:
facturas_precios= pd.merge(facturacion, precios,  on = ['CVE_DOC','FECHA_DOC'],  how= 'right')
facturas_precios.head()

,CVE_DOC,CVE_CLPV,STATUS,FECHA_DOC,FECHA_VEN,FECHA_CANCELA,CANTD_TOT,DES_TOT,RFC,NOMBRE_CLIENTE,CANT,CVE_ART,PRECIO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,5926,E,2022-01-05,2022-01-05,--,434.4800,0.0,XAXX 010101 000,PÚBLICO EN GENERAL,1,TUE00244,434.48,52.80,434.48,52.80,381.68
1,F37036,8483,E,2022-01-05,2022-01-05,--,1264.0500,0.0,REUJ800720EL5,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,1264.05,327.18,1264.05,327.18,936.87
2,F37041,8316,E,2022-01-05,2022-01-05,--,3861.2917,0.0,CUPA950915J30,ANA BARBARA CRUZ PALACIOS,7,TP0007,551.61,177.68,3861.29,1243.73,2617.56
3,F37042,5100,E,2022-01-05,2022-01-05,--,140.0000,0.0,ROGO601225FT0,OMAR RODRIGUEZ GOMEZ,1,TP0001,140.00,38.96,140.00,38.96,101.04
4,F37043,5926,E,2022-01-05,2022-01-05,--,818.9680,0.0,XAXX 010101 000,PÚBLICO EN GENERAL,2,BP00242,172.41,101.71,344.83,203.42,141.41

In [41]:
facturas_saldos= pd.merge(saldos, facturacion, left_on = ['FACTURA','FECHA_FACTURA'], right_on=['CVE_DOC', 'FECHA_DOC'], how= 'left')
facturas_saldos.fillna('- -')

,Unnamed: 0,CVE_CLPV_x,NOMBRE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO,CVE_DOC,CVE_CLPV_y,STATUS,FECHA_DOC,FECHA_VEN,FECHA_CANCELA,CANTD_TOT,DES_TOT,RFC
0,0,6401,DONGA HWASUNG MEXICO,F40238,2023-02-24,2023-03-26,97485.94,F40238,6401,E,2023-02-24 00:00:00,2023-03-26 00:00:00,--,84039.6,0.0,DHM100629CKA
1,1,6401,DONGA HWASUNG MEXICO,F40353,2023-03-14,2023-04-13,97485.94,F40353,6401,E,2023-03-14 00:00:00,2023-04-13 00:00:00,--,84039.6,0.0,DHM100629CKA
2,2,4598,PROVEEDORA DE SEGURIDAD INDUSTRIAL DEL GOLFO,F40352,2023-03-14,2023-04-13,64916.21,F40352,4598,E,2023-03-14 00:00:00,2023-04-13 00:00:00,--,55962.25,0.0,PSI8906083F8
3,3,3930,INDUSTRIAS LANCERMEX,F40217,2023-02-23,2023-03-25,52715.74,F40217,3930,E,2023-02-23 00:00:00,2023-03-25 00:00:00,--,45444.6,0.0,ILA8912077Z8
4,4,4712,HELVEX,F40173,2023-02-17,2023-04-03,50639.80,F40173,4712,E,2023-02-17 00:00:00,2023-04-03 00:00:00,--,43655.0,0.0,HEL830421S14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,159,856,CENTRO DE INVESTIGACION Y DE ESTUDIOS AVANZADO...,F40055,2023-01-31,2023-01-31,56.00,F40055,856,E,2023-01-31 00:00:00,2023-01-31 00:00:00,--,350.0,0.0,CIE6010281U2
160,160,5926,PÚBLICO EN GENERAL,NV00777,2023-03-07,2023-03-07,45.00,- -,- -,- -,- -,- -,- -,- -,- -,- -
161,161,5926,PÚBLICO EN GENERAL,NV00778,2023-03-09,2023-03-09,40.00,- -,- -,- -,- -,- -,- -,- -,- -,- -
162,162,5926,PÚBLICO EN GENERAL,NV00779,2023-03-09,2023-03-09,24.01,- -,- -,- -,- -,- -,- -,- -,- -,- -
163,163,8429,FISHERS QUERETARO,F38248,2022-05-27,2022-05-27,19.94,F38248,8429,E,2022-05-27 00:00:00,2022-05-27 00:00:00,--,1748.79,0.0,FQU091015S39

In [42]:
facturas_devoluciones = pd.merge(devoluciones, facturacion, left_on = ['DOC_ANT'], right_on=['CVE_DOC'], how= 'left')
facturas_devoluciones =facturas_devoluciones.fillna('- -')

In [43]:
tipo_gastos20 = pd.DataFrame()
tipo_gastos20['IMPORTE TOTAL'] = gastos_20.groupby(['STATUS','FECHA','TIPO GASTO'])['IMPORTE'].sum()
tipo_gastos20

                                             IMPORTE TOTAL
STATUS  FECHA      TIPO GASTO
Vigente 2020-01-01 ARRENDAMIENTO FINANCIERO       13069.43
                   CALIBRACIONES                   7520.00
                   CAPACITACION                    4450.00
                   COMBUSTIBLE                    61727.29
                   COMISION BANCARIA               5932.41
...                                                    ...
        2020-12-01 SEGUROS                            0.00
                   SUSCRIPCIONES                    112.59
                   TELEFONO                        7468.56
                   UNIFORME                        5328.62
                   VALES DESPENSA                  4080.48

[340 rows x 1 columns]

In [44]:
tipo_gastos21 = pd.DataFrame()
tipo_gastos21['IMPORTE TOTAL'] = gastos_21.groupby(['STATUS','FECHA','TIPO GASTO'])['IMPORTE'].sum()
tipo_gastos21

                                             IMPORTE TOTAL
STATUS  FECHA      TIPO GASTO
Vigente 2021-01-01 ALIMENTOS                        343.97
                   ARRENDAMIENTO FINANCIERO       11103.36
                   CAPACITACION                   13320.00
                   COMISION BANCARIA               8603.18
                   COMPRAS                       481910.09
...                                                    ...
        2021-12-01 RENTA COPIADORA                 2000.00
                   SUELDOS DIRECCION              68775.41
                   SUSCRIPCIONES                    193.19
                   TELEFONO                        7830.52
                   TRANSPORTE                       212.94

[398 rows x 1 columns]

In [45]:
tipo_gastos22 = pd.DataFrame()
tipo_gastos22['IMPORTE TOTAL'] = gastos_22.groupby(['STATUS','FECHA','TIPO GASTO'])['Importe'].sum()
tipo_gastos22

                                               IMPORTE TOTAL
STATUS    FECHA      TIPO GASTO
Cancelado 2022-06-01 ARRENDAMIENTO LOCAL                0.00
Vigente   2022-01-01 ALIMENTOS                       1988.14
                     ARRENDAMIENTO FINANCIERO       11103.36
                     ARRENDAMIENTO LOCAL            52000.00
                     CAPACITACION                   11243.10
...                                                      ...
          2022-12-01 SUELDOS DIRECCION              67567.37
                     SUSCRIPCIONES                    944.00
                     TELEFONO                        5180.67
                     VALES DESPENSA                  7140.00
                     VARIOS                         26351.93

[401 rows x 1 columns]

In [46]:
tipo_gastos23 = pd.DataFrame()
tipo_gastos23['IMPORTE TOTAL'] = gastos_23.groupby(['STATUS','FECHA','TIPO GASTO'])['Importe'].sum()
tipo_gastos23

                                             IMPORTE TOTAL
STATUS  FECHA      TIPO GASTO
Vigente 2023-01-01 ALIMENTOS                       1359.11
                   ARRENDAMIENTO FINANCIERO       19557.73
                   CAPACITACION                   24143.10
                   COMISION BANCARIA              21557.57
                   COMISION MIXTA                 88345.90
...                                                    ...
        2023-04-01 TELEFONO                        3889.20
                   TRANSPORTE                       211.21
                   UNIFORMES                        240.66
                   VALES DESPENSA                   230.00
                   VARIOS                          6346.56

[135 rows x 1 columns]

In [47]:
facturacion['FEC_ELAB_MES']=facturacion['FECHA_DOC'].dt.month
print(facturacion['FEC_ELAB_MES'].unique())
print()
facturacion.iloc[[4,900,7899,1223]]

[ 9 10 11 12  1  2  3  4  5  6  7  8]

,CVE_DOC,CVE_CLPV,STATUS,FECHA_DOC,FECHA_VEN,FECHA_CANCELA,CANTD_TOT,DES_TOT,RFC,FEC_ELAB_MES
4,F29418,6813,C,2019-09-03,2019-09-03,2019-09-10 00:00:00,2435.4400,0.0,MPI130528640,9
900,F30316,3916,E,2019-11-21,2019-12-06,--,1575.0000,0.0,VIN-800602-NL9,11
7899,F37315,3047,E,2022-02-09,2022-02-24,--,6008.1252,0.0,DEI-040225-N32,2
1223,F30639,5926,E,2019-12-19,2019-12-19,--,1135.5800,0.0,XAXX 010101 000,12

In [48]:
facturas_v = pd.DataFrame()
facturas_v[['VALOR TOTAL','DESCUENTO']] = facturacion.groupby(['FEC_ELAB_MES','STATUS'])[['CANTD_TOT', 'DES_TOT']].sum()
facturas_v

                      VALOR TOTAL  DESCUENTO
FEC_ELAB_MES STATUS
1            C       4.016342e+05       0.00
             E       4.342299e+06   15421.07
2            C       1.862892e+05     993.83
             E       4.854137e+06   17982.97
3            C       1.913407e+05       0.00
             E       4.419799e+06    8920.02
4            C       8.481483e+04     505.87
             E       2.853937e+06    2401.25
5            C       1.048903e+05       0.00
             E       2.270417e+06    1973.62
6            C       4.906460e+04     288.34
             E       3.494997e+06    7990.51
7            C       7.674824e+04       0.00
             E       3.377241e+06   20914.94
8            C       1.367298e+05     109.91
             E       3.273919e+06    3272.83
9            C       4.878735e+05    5171.36
             E       4.966750e+06   66092.04
10           C       1.613876e+05       0.00
             E       4.792313e+06   34553.52
11           C       4.330965e+05       0.00
             E       4.670115e+06    6754.50
12           C       1.320316e+05     772.50
             E       3.966294e+06    4786.71

In [49]:
devoluciones['FEC_ELAB_MES']=devoluciones['FECHA_DOC'].dt.month
print(devoluciones['FEC_ELAB_MES'].unique())
print()
devoluciones.iloc[[4,28,12]]

[ 9 10 11 12  1  2  3  4  6  7  8  5]

,CVE_DOC,CVE_CLPV,STATUS,CVE_PEDI,FECHA_DOC,FECHA_VEN,FECHA_CANCELA,CANTD_TOT,RFC,FOLIO,DOC_ANT,FEC_ELAB_MES
4,DEV00004,664,E,F29616,2019-10-10,2019-10-10,--,4232.25,CID-910926-P7A,4,F29616,10
28,DEV00028,7023,E,F30964,2020-02-11,2020-02-11,--,4650.00,UME1612149F8,28,F30964,2
12,DEV00012,6805,E,F29953,2019-11-06,2019-11-06,--,1282.35,BAVV720226CF7,12,F29953,11

In [50]:
dev_v = pd.DataFrame()
dev_v['VALOR TOTAL'] = devoluciones.groupby(['FEC_ELAB_MES','STATUS'])['CANTD_TOT'].sum()
dev_v

                     VALOR TOTAL
FEC_ELAB_MES STATUS
1            C        12303.0000
             E       268614.1450
2            C        11728.0000
             E       226191.7900
             O        67920.3844
3            E        31551.0920
4            E       201730.1606
             O        25383.4400
5            E        37996.3620
6            E        40296.2000
7            E        58800.2599
8            E        32557.2469
             O        44251.9500
9            E       240641.7266
10           C        24408.0000
             E       140634.3700
             O        46874.0000
11           E       163911.3736
12           C        48480.0000
             E        88237.6000

In [51]:
notas_credito['FEC_ELAB_MES']=notas_credito['FECHA_DOC'].dt.month
print(notas_credito['FEC_ELAB_MES'].unique())
print()
notas_credito.iloc[[4,28,122]]

[ 9 10 11 12  1  2  3  4  5  6  7  8]

,CVE_DOC,CVE_CLPV,STATUS,CVE_PEDI,FECHA_DOC,FECHA_VEN,FECHA_CANCELA,CANTD_TOT,RFC,FOLIO,FEC_ELAB_MES
4,NC00251,6834,E,F29452,2019-09-19,2019-09-19,--,919.4560,NPR111214391,251,9
28,NC00275,5926,E,F29732,2019-10-11,2019-10-11,--,862.0689,XAXX 010101 000,275,10
122,NC00369,3686,E,F31346,2020-03-19,2020-03-19,--,4310.3448,EEMR-900523-368,369,3

In [52]:
notas_cv = pd.DataFrame()
notas_cv['VALOR TOTAL'] = notas_credito.groupby(['FEC_ELAB_MES','STATUS'])['CANTD_TOT'].sum()
notas_cv

                      VALOR TOTAL
FEC_ELAB_MES STATUS
1            C         7571.64000
             E       290052.15639
             O         2869.77000
2            C        21645.92100
             E       171917.21610
             O         6822.41000
3            E       269482.71520
             O         7410.00860
4            C        13558.05000
             E       107666.87170
             O       286009.61430
5            C        23282.40000
             E        62207.97940
6            E        85195.19100
             O         3393.53480
7            E       147707.94920
8            C         9480.00000
             E        86444.99206
9            C         4738.44800
             E       117541.06400
10           C         6552.65000
             E       261197.81300
             O          600.00000
11           E       179778.16140
             O          755.17000
12           C          989.10000
             E       229642.76490
             O         4638.50000

In [53]:
actual= datetime.now()
actual

datetime.datetime(2023, 7, 26, 14, 38, 55, 198698)

In [54]:
saldos['FECHA_ACT']=actual
saldos['FECHA_ACT']

0     2023-07-26 14:38:55.198698
1     2023-07-26 14:38:55.198698
2     2023-07-26 14:38:55.198698
3     2023-07-26 14:38:55.198698
4     2023-07-26 14:38:55.198698
                 ...
159   2023-07-26 14:38:55.198698
160   2023-07-26 14:38:55.198698
161   2023-07-26 14:38:55.198698
162   2023-07-26 14:38:55.198698
163   2023-07-26 14:38:55.198698
Name: FECHA_ACT, Length: 164, dtype: datetime64[ns]

In [55]:
saldos['TIPO'] = np.where(saldos['FECHA_VENCIMIENTO'] >= saldos['FECHA_ACT'], 'CLIENTES CRÉDITO', 'CARTERA VENCIDA')

In [56]:
saldos['dias'] = saldos['FECHA_VENCIMIENTO'] - saldos['FECHA_FACTURA']

In [57]:
saldos['TIPO_DIAS'] = np.where(saldos['dias'] <= '30 days' , '1-30', '31-60 o 30<')

In [58]:
cobranza = pd.DataFrame()
cobranza['MONTO ADEUDADO'] = saldos.groupby(['TIPO','TIPO_DIAS'])['MONTO ADEUDADO'].sum()
cobranza

                             MONTO ADEUDADO
TIPO            TIPO_DIAS
CARTERA VENCIDA 1-30             1153057.63
                31-60 o 30<       625921.48

In [59]:
saldos.to_excel('saldos_clean.xlsx')
facturacion.to_excel('facturacion_clean.xlsx')
devoluciones.to_excel('devoluciones_clean.xlsx')
notas_credito.to_excel('notas_credito_clean.xlsx')
clientes.to_excel('clientes_clean.xlsx')
precios.to_excel('precios_productos_clean.xlsx')
gastos_20.to_excel('gastos_c2020_clean.xlsx')
gastos_21.to_excel('gastos_c2021_clean.xlsx')
gastos_22.to_excel('gastos_c2022_clean.xlsx')
gastos_23.to_excel('gastos_c2023_clean.xlsx')
tipo_gastos20.to_excel('prueba20.xlsx')
tipo_gastos21.to_excel('prueba21.xlsx')
tipo_gastos22.to_excel('prueba22.xlsx')
tipo_gastos23.to_excel('prueba23.xlsx')